<div class="my-3">
  <h3>fromEvent()</h3>
  <br>
  <strong>Ex - 01 (fromEvent)</strong>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Add Video</div>
        <div class="card-body">
          <button class="btn btn-primary" #addBtn>
            Add
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul id="elContainer1">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
