<div class="my-3">
  <h3>ConcatMap</h3>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01 | Map</strong>
      <hr>
      <p class="small bg-light py-2 px-3 border rounded"><b>Videoes:</b> ['Tech', 'Comedy', 'News']</p>
      <br>
      <ul id="elContainer1"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 02 | Map + concatAll</strong>
      <hr>
      <p class="small bg-light py-2 px-3 border rounded"><b>Videoes:</b> ['Tech', 'Comedy', 'News']</p>
      <br>
      <ul id="elContainer2"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03 | concatMap</strong>
      <hr>
      <p class="small bg-light py-2 px-3 border rounded"><b>Videoes:</b> ['Tech', 'Comedy', 'News']</p>
      <br>
      <ul id="elContainer3"></ul>
    </div>
  </div>
</div>
