<div class="my-3">
  <h3>tap(), takeLast(), </h3>
  <br>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01 | take(2)</strong>
      <hr>
      <!-- <p class="small bg-light py-2 px-3 border rounded">
          <strong>tap: </strong>
        </p> -->
      <ul id="elContainer1"></ul>
    </div>

    <div class="col-md-4">
      <strong>Ex - 02 | takeLast(3)</strong>
      <hr>
      <!-- <p class="small bg-light py-2 px-3 border rounded">
          <strong>tap: </strong> by type
        </p>
        <br> -->
      <ul id="elContainer2"></ul>
    </div>

    <div class="col-md-4">
      <strong>Ex - 03 | takeUntil()</strong>
      <hr>
      <!-- <p class="small bg-light py-2 px-3 border rounded">
          <strong>tap: </strong> by type
        </p>
        <br> -->
      <ul id="elContainer3"></ul>
    </div>
  </div>
</div>
