<div class="my-3">
  <h3>Concat Rxjs</h3>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <strong>Source - 01 | Tech Channel(5)</strong>
      <hr>
      <p class="small bg-light py-2 px-3 border rounded">Tech Video List: 1, 2, 3, 4, 5</p>
    </div>
    <div class="col-md-4">
      <strong>Source - 02 | Comedy Channel(3)</strong>
      <hr>
      <p class="small bg-light py-2 px-3 border rounded">Comedy Video List: 1, 2, 3</p>
    </div>
    <div class="col-md-4">
      <strong>Source - 03 | News Channel(4)</strong>
      <hr>
      <p class="small bg-light py-2 px-3 border rounded">News Video List: 1, 2, 3, 4</p>
    </div>
  </div>

  <hr>

  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">Your Channel (Subscriber)</div>
              <div class="card-body">
                  <ul id="elContainer">
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
