<section class="concatMap">
  <div class="container-wrapper w-72">
    <ul class="ios-notifications" id="elContainer">
      <li class="ios-notifications__item">
        <div class="mb-1 d-flex justify-content-between text-xs">
          <div>
          <i class="fa fa-whatsapp text-center mr-1" aria-hidden="true"></i>
            <span>WeChat</span>
          </div>
          <div>1h ago</div>
        </div>
        <div class="text-sm font-weight-bold">Houshibu</div>
        <div class="text-sm">Hachiman: CSS is an art! ✨</div>
        <div class="more mt-1 text-xs">3 more messages</div>
      </li>
    </ul>
  </div>
</section>
