<section>
  <nav>
    <div class="left">
      <ul>
        <li id="home"><i class="fa fa-home"></i> Home</li>
      </ul>
    </div>
    <div class="middle">
      <h4>WEBSITE<br>DESIGN<br>COMPANY</h4>
    </div>
    <div class="right">
      <ul>
        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
        <li><i class="fa fa-facebook-f" aria-hidden="true"></i></li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="title">
      <h1><span class="black">DESTINATION</span><span class="outlined"> UNKNOWN</span></h1>
    </div>
    <div class="forest">
      <img src="img/forest.png" alt="">
    </div>
    <div class="desc">
      <p class="sub_title">We challenged our friends around the globe to show us their destination unknowns. Share yours
        for a chance of winning your dream destination unknown trip.</p>
      <div class="bottom_nav" id="bottom_nav">
        <h4>EXPLORE DESTINATION</h4>
        <div class="circle"></div>
      </div>
    </div>
    <div class="grid">
      <h1 class="destination">OESCHINEN LAKE<br>
        <span class="outlined white_outline">SWITZERLAND</span>
      </h1>
      <div class="imgs">
        <div class="img_wrapper first_img"></div>
      </div>
      <div class="imgs_2">
        <div class="img_wrapper second_img"></div>
      </div>
      <div class="imgs_3">
        <div class="img_wrapper third_img"></div>
      </div>
      <div class="imgs_4">
        <div class="img_wrapper forth_img"></div>
      </div>
    </div>
    <div class="bg_image"></div>
  </div>
</section>
