<div class="primary-nav">
  <button class="hamburger open-panel nav-toggle" (click)="onClickMenu($event)">
    <span class="screen-reader-text">Menu</span>
  </button>
  <nav role="navigation" class="menu">
    <a class="logotype" [routerLink]="[ '/' ]">RxJS<span> GUIDE</span></a>
    <div class="overflow-container">
      <ul class="menu-dropdown">
        <li><a [routerLink]="[ '/' ]">Home</a><span class="icon"><i class="fa fa-dashboard"></i></span></li>
        <li class="menu-hasdropdown">
          <a>RxJS Guide</a><span class="icon"><i class="fa fa-gear"></i></span>
          <label title="toggle menu" for="rxjs">
            <span class="downarrow"><i class="fa fa-caret-down"></i></span>
          </label>
          <input type="checkbox" class="sub-menu-checkbox" id="rxjs" />
          <ul class="sub-menu-dropdown">
            <li *ngFor="let item of rxjsGuideRoute;"><a [routerLink]="[ item.url ]">{{item.topic}}</a></li>
          </ul>
        </li>
        <li>
          <a>GSAP</a><span class="icon"><i class="fa fa-heart"></i></span>
          <label title="toggle menu" for="gsap">
            <span class="downarrow"><i class="fa fa-caret-down"></i></span>
          </label>
          <input type="checkbox" class="sub-menu-checkbox" id="gsap" />
          <ul class="sub-menu-dropdown">
            <li *ngFor="let item of gsapGuideRoute;"><a [routerLink]="[ item.url ]">{{item.topic}}</a></li>
          </ul>
        </li>
        <li><a>Messages</a><span class="icon"><i class="fa fa-envelope"></i></span></li>
      </ul>
    </div>
  </nav>
</div>

<div class="new-wrapper">
  <div id="main">
    <router-outlet></router-outlet>
  </div>
</div>
