<div class="my-3">
  <h3>Of and From</h3>
  <br>
  <strong>Ex - 01 (Of)</strong>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <p class="small bg-light py-2 px-3 border rounded">
        <strong>Date: </strong> of('Kuldeep', 'Dhruv', 'Navin')
      </p>
      <hr>
      <ul id="elContainer1"></ul>
    </div>

    <div class="col-md-6">
      <p class="small bg-light py-2 px-3 border rounded">
        <strong>Date: </strong> of(&#123;a: 'Kuldeep', b: 'Dhruv', c: 'Navin' &#125;)
      </p>
      <hr>
      <ul id="elContainer2">
        <li><strong>a : </strong>{{Obs2Msg.a}}</li>
        <li><strong>b : </strong>{{Obs2Msg.b}}</li>
        <li><strong>c : </strong>{{Obs2Msg.c}}</li>
      </ul>
    </div>
  </div>

  <br>
  <strong>Ex - 02 (From)</strong>

  <div class="row">
    <div class="col-md-4">
      <p class="small bg-light py-2 px-3 border rounded">
        <strong>Date: </strong> from(['Kuldeep', 'Dhruv', 'Navin'])
      </p>
      <hr>
      <ul id="elContainer3">
      </ul>
    </div>

    <div class="col-md-4">
      <p class="small bg-light py-2 px-3 border rounded">
        <strong>Promise</strong>
      </p>
      <hr>
      <ul id="elContainer4">
      </ul>
    </div>

    <div class="col-md-4">
      <p class="small bg-light py-2 px-3 border rounded">
        <strong>String</strong>
      </p>
      <hr>
      <ul id="elContainer5">
      </ul>
    </div>
  </div>
</div>
