<div class="my-3">
  <h3>tap()</h3>
  <br>
  <div class="row">
    <div class="col-md-6">
      <strong>Ex - 01</strong>
      <hr>
      <!-- <p class="small bg-light py-2 px-3 border rounded">
        <strong>tap: </strong>
      </p> -->
      <ul id="elContainer1"></ul>
    </div>

    <div class="col-md-6">
      <strong>Ex - 02</strong>
      <hr>
      <!-- <p class="small bg-light py-2 px-3 border rounded">
        <strong>tap: </strong> by type
      </p>
      <br> -->
      <ul id="elContainer2"></ul>
    </div>
  </div>
</div>
