<div class="container-fluid py-3">
  <h3>Observable</h3>
  <hr>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-12">
      <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let item of rxjsGuideRoute">
          <div class="card" [routerLink]="[ item.url ]">
            <div class="card-body">
              <h6>{{item.topic}}</h6>
              <p class="small">{{item.type}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-12">
      <em>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi laboriosam incidunt iure ea porro minus veniam
        harum asperiores repudiandae, nobis eius ab facilis sapiente accusantium eveniet architecto facere voluptatum
        blanditiis temporibus nihil non odio molestiae placeat quam. Placeat laboriosam eligendi cumque ad. Sapiente ea
        rem vel ratione sit, necessitatibus excepturi corporis distinctio quia inventore, cumque tempore optio sunt
        obcaecati error! Neque aliquam perspiciatis dolorem quo consequatur provident commodi sunt quaerat odio libero et
        ipsum dolores repellat laudantium assumenda, officiis, delectus iusto ea est itaque? Cum aut quas voluptatem
        maxime laudantium quos voluptates autem magnam dolore quo, similique repudiandae molestiae aliquid.</em>
    </div>
  </div>
</div>
