<section class="first-section">
  <h1>Make Your Site Move With <br />Animation</h1>
  <div class="images-wrapper">
    <img src="./../../../assets/Scrollmagic/section_1_bg.webp" alt="" class="section_1_bg">
    <div class="ingredient-images">
      <img src="./../../../assets/Scrollmagic/section_1_01.webp" alt="" class="section_1_01">
      <img src="./../../../assets/Scrollmagic/section_1_02.webp" alt="" class="section_1_02">
      <img src="./../../../assets/Scrollmagic/section_1_03.webp" alt="" class="section_1_03">
      <img src="./../../../assets/Scrollmagic/section_1_04.webp" alt="" class="section_1_04">
      <img src="./../../../assets/Scrollmagic/section_1_05.webp" alt="" class="section_1_05">
      <img src="./../../../assets/Scrollmagic/section_1_06.webp" alt="" class="section_1_06">
      <img src="./../../../assets/Scrollmagic/section_1_07.webp" alt="" class="section_1_07">
      <img src="./../../../assets/Scrollmagic/section_1_08.webp" alt="" class="section_1_08">
      <img src="./../../../assets/Scrollmagic/section_1_09.webp" alt="" class="section_1_09">
    </div>
  </div>
</section>
<section class="second-section">
  <h1>Draw Attention Where You Want It Most</h1>
  <p>A great animation effect is impossible to ignore.</p>
  <div class="images-wrapper bottom">
    <div class="imgage-container"><img src="./../../../assets/Scrollmagic/section_2_06.webp" alt=""
        class="section_2_06"></div>
    <div class="imgage-container"><img src="./../../../assets/Scrollmagic/section_2_07.webp" alt=""
        class="section_2_07"></div>
    <div class="imgage-container"><img src="./../../../assets/Scrollmagic/section_2_08.webp" alt=""
        class="section_2_08"></div>
    <div class="imgage-container"><img src="./../../../assets/Scrollmagic/section_2_09.webp" alt=""
        class="section_2_09"></div>
    <div class="imgage-container"><img src="./../../../assets/Scrollmagic/section_2_10.webp" alt=""
        class="section_2_10"></div>
  </div>
  <div class="images-wrapper top">
    <div class="imgage-container"><img src="./../../../assets/Scrollmagic/section_2_01.webp" alt=""
        class="section_2_01"></div>
    <div class="imgage-container"><img src="./../../../assets/Scrollmagic/section_2_02.webp" alt=""
        class="section_2_02"></div>
    <div class="imgage-container"><img src="./../../../assets/Scrollmagic/section_2_03.webp" alt=""
        class="section_2_03"></div>
    <div class="imgage-container"><img src="./../../../assets/Scrollmagic/section_2_04.webp" alt=""
        class="section_2_04"></div>
    <div class="imgage-container"><img src="./../../../assets/Scrollmagic/section_2_05.webp" alt=""
        class="section_2_05"></div>
  </div>
</section>
<section class="third-section">
  <div class="h1">Animate Anything You Want</div>
  <p>Easily add animation to text, photo, buttons & more.</p>
  <div class="images-wrapper">
    <img src="./../../../assets/Scrollmagic/section_3_06.webp" alt="" class="section_3_06">
    <img src="./../../../assets/Scrollmagic/section_3_05.webp" alt="" class="section_3_05">
    <img src="./../../../assets/Scrollmagic/section_3_04.webp" alt="" class="section_3_04">
    <img src="./../../../assets/Scrollmagic/section_3_03.webp" alt="" class="section_3_03">
    <img src="./../../../assets/Scrollmagic/section_3_02.webp" alt="" class="section_3_02">
    <img src="./../../../assets/Scrollmagic/section_3_01.webp" alt="" class="section_3_01">
  </div>
</section>
<section class="forth-section">
  <h1>14 Types of Animation</h1>
  <p>With So Many Different Effects, The Possiblities are endless.</p>
  <div class="images-wrapper">
    <img src="./../../../assets/Scrollmagic/section_4_01.webp" alt="" class="section_4_01">
    <img src="./../../../assets/Scrollmagic/section_4_02.webp" alt="" class="section_4_02">
    <img src="./../../../assets/Scrollmagic/section_4_03.webp" alt="" class="section_4_03">
    <img src="./../../../assets/Scrollmagic/section_4_04.webp" alt="" class="section_4_04">
  </div>
</section>

