<div class="my-3">
  <h3>Map</h3>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01 (Map)</strong>
      <br>
      <p class="small bg-light py-2 px-3 mt-2 mb-2 border rounded">
        <strong>Map: </strong> map(data => 'videos => ' + data)
      </p>
      <ul id="elContainer1">
          <li>
            {{mapMsg1}}
          </li>
      </ul>
    </div>

    <div class="col-md-4">
      <strong>Ex - 02 (Map)</strong>
      <p class="small bg-light py-2 px-3 mt-2 mb-2 border rounded">
        <strong>Map: </strong> map(data => data * 2)
      </p>
      <ul id="elContainer2">
        <li>
          {{mapMsg2}}
        </li>
    </ul>
    </div>

    <div class="col-md-4">
      <strong>Ex - 03 (Map)</strong>
      <br>
      <p class="small bg-light py-2 px-3 mt-2 mb-2 border rounded">
        <strong>Map: </strong> map((data) => data.name)
      </p>
      <ul id="elContainer3"></ul>
    </div>
  </div>
</div>
