<div class="my-3">
  <h3>Interval and Timer</h3>
  <strong>Ex - 01 (Interval)</strong>
  <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">User1</div>
        <div class="card-body">
          <ul id="elContainer1"></ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">User1</div>
        <div class="card-body">
          <ul id="elContainer2"></ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">User1</div>
        <div class="card-body">
          <ul id="elContainer3"></ul>
        </div>
      </div>
    </div>
  </div>

  <br>

  <strong>Ex - 02 (Timer)</strong>
  <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">User1</div>
        <div class="card-body">
          <ul id="elContainer4"></ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">User1</div>
        <div class="card-body">
          <ul id="elContainer5"></ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">User1</div>
        <div class="card-body">
          <ul id="elContainer6"></ul>
        </div>
      </div>
    </div>
  </div>

</div>
